---
BreakBeforeBraces: Allman
ColumnLimit: 130
IndentCaseLabels: true
IndentWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLoopsOnASingleLine: false
PointerAlignment: Right
AccessModifierOffset: -4

...
