---
BreakBeforeBraces: Allman
ColumnLimit: 110
IndentCaseLabels: true
IndentWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLoopsOnASingleLine: true
PointerAlignment: Right
AccessModifierOffset: -4

...
